*{ box-sizing: border-box;}

body {
    background-color: #2848a0;
    margin: 0 auto;
    padding: 20px;
    color: #96a7dd;
    text-align: center;
}

/* Start Header */

header {
    padding: 50px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 5px;
}

h1 {
    padding-bottom: 15px;
    border-bottom: 3px solid #96a7dd;
    text-shadow: 2px 4px 10px #101010;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing {
  width: 39ch;
  animation: typing 3s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 30px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

/*start footer */
footer{margin-top: 200px;}